{% extends "AppFoodBlog/base.html" %}
{% load static %}
{% block bloque %}



<h1 class="container mt-5"> Acerca de la empresa</h1>
<div class="container mt-5">
    <p><strong>Sobre el creador del proyecto:</strong> Nahuel Van Houtte. Estudiante del curso de Python </p>
    <p>que busca insertarse en el mundo del desarrollo, impulsado principalmente por</p>
    <p>la curiosidad y las ganas de poder crear aplicaciones.</p>

<br/>
    <p><strong>Objetivo de FoodBlog:</strong> Compartir experiencias de locales gastronómicos o recetas propias.</p>

</div>

{% endblock bloque %}