{% extends "AppFoodBlog/base.html" %}
{% load static %}
{% block bloque %}


<p>
    {% if object_list.count == 0 %}

        <p>No hay posteos actualmente.</p>

    {% endif %}
</p>

<table>
    {% for posteo in object_list %}
    
    <li class="ms-3">
        Nombre del post: <strong>{{posteo.titulo}}</strong>
        <p><u>Posteado por:</u> <i>{{posteo.user}}</i></p>
        <p></p><a href="{% url 'Pages' posteo.id %}">Leer más</a></p>
    </li>
    <l>
    {% endfor %}
</table>


{% endblock bloque %}